.main {
    text-align: center;
    padding: 50px;
    background-color: #e2cfe4;
    border-radius: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 100px auto;
}

.main__title {
    color: #333;
    font-size: 24px;
}

.main__text {
    color: #373333;
    font-size: 18px;
}

.main__button {
    padding: 16px 26px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(251, 248, 248);
    background-color: #603a76;
    border: none;
    border-radius: 14px;
    transition: all 0.3s ease;
    outline: none;
}

.main__button:hover {
    background-color: #3c164e;
    cursor: pointer;
}

.main__button:active {
    transform: scale(0.85);
}