.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #c09ac9;
    text-align: center;
}

.main__title {
    font-size: 32px;
    color: #252525;
    margin-bottom: 16px;
}

.main__text {
    font-size: 19px;
    color: #393939;
    margin-bottom: 24px;
}

.main__button {
    padding: 10px 20px;
    font-size: 16px;
    color: #d8d7d7;
    background-color: #472d6f;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.main__button:hover {
    cursor: pointer;
    background-color: #370b61;
}

.main__button:active {
    transform: scale(0.95);
}