.footer {
    background-color: #875793;
    padding: 26px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
}

.footer__title{
    color: rgb(234, 232, 232);
    font-size: 16px;
    text-align: center;
}