.header {
    background-color: #875793;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header__name {
 font-size: 28px;
 font-weight: bold;
 color: rgb(248, 244, 244);
 text-align: center;
}